img{
    width:100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: -10%;
    left: 54%;
}

.top-left {
    position: absolute;
    top: 62%;
    left: 54%;
}

.top-right {
    position: absolute;
    top: 62%;
    right: 12%;
}

.bottom-right {
    position: absolute;
    bottom: -10%;
    right: 12%;
}

.centered {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
}